//Font familly

@import url("https://use.typekit.net/cao3mvv.css");


//Colors
$color-link:#00bbb4;
$color-default: #000000;
$btn-bg-orange: #00bbb4;
$color-blue-text: #000000;

$color-blue: #37536B;
$bg-line-blue: #94A6BA;
$bg-button-newsletter: #4E7385;
$colorH2: #4F7288;
$color-green:#B5D05A;
$color-gray: #B5D05A;
$color-professional: #00bbb4;
$color-professional-dark: #00bbb4;

$bg-line-green: #00bbb4;
//Font size
$btn-font-default: 30px;
$btn-font-orange: 18px;
$color-dark-blue: #273F54;




html {
    scroll-behavior: smooth;
}




.grecaptcha-badge {
    display: none !important;
}

.wpcf7 form.invalid .wpcf7-response-output,
.wpcf7 form.unaccepted .wpcf7-response-output,
.wpcf7 form.sent .wpcf7-response-output {
    font-size: 12px;
}

.wpcf7-not-valid-tip {
    color: #dc3232;
    font-size: 12px;
    font-weight: normal;
    display: block;
    margin-top: -30px;
    margin-bottom: 15px;
}




// kontener główny
.container {
    width: 100%;
    max-width: 1680px;


    @media (max-width: 1680px) {
        max-width: 1440px;
    }

    @media (max-width: 1440px) {
        max-width: 1280px;
    }

    @media (max-width: 1300px) {
        max-width: 1160px;
    }

}






@keyframes bounce-scroll {
    0% {
        transform: translateY(0);
    }

    10% {
        transform: translateY(0);
    }

    30% {
        transform: translateY(-25px);
    }

    50% {
        transform: translateY(0);
    }

    57% {
        transform: translateY(-7px);
    }

    64% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(0);
    }
}


#cookie-law-info-bar {
    box-shadow: 0 0 10px #293241;
}

.cli-style-v2 .cli-bar-message {
    display: flex;
    align-items: center;
}

.cli-style-v2 .cli-bar-message p {
    margin-bottom: 0;
    font-size: 13px;
}

.cli-style-v2 .cli-bar-message a {
    color: #FFFFFF;
    transition: .3s linear;
}

.cli-style-v2 .cli-bar-message a:hover {
    color: #EE6C4D;
}

.cli-style-v2 .cli-bar-message img {
    max-width: 50px;
    margin-right: 20px;
    width: 100% !important;
    height: 40px;
}


@media (max-width: 985px) {
    .cli-style-v2.cli-bar-container {
        justify-content: center;
        flex-wrap: wrap;
    }

    .cli-style-v2 .cli-bar-btn_container {
        width: 100% !important;
    }

    .cli-style-v2 .cli-bar-message {
        text-align: unset !important;
        flex-direction: column-reverse;
        align-items: center;
    }

    .cli-style-v2 .cli-bar-message img {
        margin-top: 10px;
    }

    .cli-style-v2 .cli-bar-btn_container .cli-plugin-button {
        width: 100%;
    }
}












// css menu navwalker

/*Dropdown Css*/
.dropdown:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

/*./Dropdown Css*/